<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selamat Datang | Book Recommender System</title>
</head>
<body>
  <h1>Selamat Datang di book recommender system</h1>
  <h3>By K4-BigData</h3>
  <ul>
    <li>
      <a href="/about/">Go to About</a>
    </li>
    <li>
      <a href="/home/">Go to Recommendation</a>
    </li>
    <li>
      <a href="/home/first-5-books">I am New</a>
    </li>
  </ul>
</body>
</html>